
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body{
    overflow: visible;
}


.main {
    margin-top: 110px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    min-height: 100vh;
    font-size: 25px;
    flex-wrap: wrap;
}

letra {
    font-family: 'VT323', monospace;
    font-size: 60px;
    color: #703cc4;
}

#abt-txt, .abt-trabalho, .t-info{
    margin-left: 50px;
}

.img-fab, .info{
    margin-right: 30px;

} 

/* img-foto */

.img-fab{

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.foto-perfil {
    max-width: 60vh;
}

/* infos */

.t-info {
    font-size: 20px;
}

.table-id {
    padding-right: 10px;   
}

.info {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}


